* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  color: #E3DFC8;
}

#window {
  background-color: #1B211C;
  border: 2px solid #D9B96C;
  border-radius: 8px;
}

#search {
  background-color: #232B22;
  border-bottom: 2px solid #D9B96C;
  color: #F5F1DE;
  padding: 10px;
}

#search image {
  color: #D9B96C;
}

row {
  padding: 6px;
  border-radius: 4px;
}

row:selected,
row:hover {
  background-color: #2E372B;
  color: #F5F1DE;
}

row label.activationlabel {
  color: #1B211C;
  background-color: #A3C283;
  border-radius: 3px;
  padding: 0 4px;
}

#typeahead {
  color: #A6AC97;
}

scrollbar {
  background-color: #232B22;
}

scrollbar slider {
  background-color: #D9B96C;
  border-radius: 4px;
}
